.workMainSubHeader{
    position: absolute;
    top: 0px;
    right: 0; 
    left: 0 ;
    height: 70px;
    background-color:#43444c;
    text-align:left;
    justify-content:space-between;
    align-items:center;
    display:flex;
}

.workMainSubHeader .iconButtonContainer{
    float:right;
    margin-top:15px;
}

.workMainSubHeader .iconButtonUnSelected{
    margin-right: 20px;
    text-align: center;
    color:#f9f9f9;
    border-radius: 15px;
    float:right;
}

.workMainSubHeader .iconButton{
    margin-right: 20px;
    text-align: center;
    color:#fee900;
    border-radius: 15px;
    float:right;
}

.workMainSubHeader .buttonImg{
    height: 80px;
    width: 80px;
}

.workMainSubHeader .buttonText{
    font-size:10px
}

.workMainSubHeader .subHeaderTitle{
    margin-left:20px;
    color:#f9f9f9;
    float:left;
    margin-top: 25px;
}

/* main */
.workMainMainContainer{
    position: absolute;
    top: 110px;
    right: 0;
    bottom: 0;
    left: 0;
    /* padding-left: 100px; */
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.workMainMainContainer .thumbnailsContainer{
    /*padding-top: 30px;*/
    /* padding-left: 100px; */
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    min-width: 1440px;
    width: 80%;
}


/* position:'absolute',display:'flex',top:140,right:0,left:0,justifyContent:'center' */
.workMainMainContainer .createButton{
    width:300px; 
    height: 278px;
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 30px;    
}

.workMainMainContainer .thumbnailContainer{
    text-align: center;
}

.workMainMainContainer .thumbnailContainer2{
    /* height: 230px; */
    width: 300px;
    margin: 30px;
}

.workMainMainContainer .thumbnail{
    height:230px;
}

.workMainMainContainer .thumbnailTitleContainer{
    background-color:#3e81f6;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.workMainMainContainer .thumbnailTitle{
    margin-left: 10px;
    max-width: 200px;
    color: #f9f9f9;
}

.workMainMainContainer .thumbnailDescription{
    background-color:#3e81f6;
    padding: 10px;
    text-align: left;
    font-size: 0.5em;
    color: #f9f9f9;
}
