.paper {
    height: 300px;
    width: 500px;
    overflow-y: scroll;
}

.settingPaper {
    height: 230px;
    width: 500px;
    overflow-y: scroll;
}

.swipePaper {
    height: 300px;
    width: 200px;
    overflow-y: scroll;
}

.settingSwipePaper {
    height: 200px;
    width: 300px;
    overflow-y: scroll;
}

.transDivider {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.td {
    width:190px; 
    border-right:1px solid grey; 
    padding-right:22px; 
    text-align:justify
}

.temp {
    background-color: rgba(128, 128, 128, 0.438)
}
