.paper {
    height: 300px;
    width: 500px;
    overflow-y: scroll;
    margin: auto;
}

.settingPaper {
    height: 230px;
    width: 500px;
    overflow-y: scroll;
}

.swipePaper {
    height: 300px;
    width: 200px;
    overflow-y: scroll;
}

.settingSwipePaper {
    height: 200px;
    width: 200px;
    overflow-y: scroll;
}

.transDivider {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.td {
    width:190px; 
    border-right:1px solid grey; 
    padding-right:22px; 
    text-align:justify
}

.temp {
    background-color: rgba(128, 128, 128, 0.438)
}

.sortable div{
	margin: 10px;
	padding: 10px 0 10px 20px;
	background-color: #FFF;
	border: 1px solid #ddd;
	cursor: ns-resize;
}
