#header { position: fixed; top: 0; left: 0; width: 100%; height: 60px; z-index: 9; background-color: #05BCD3; }
#slimHeader { position: fixed; top: 0; left: 0; width: 100%; height: 40px; z-index: 9; background-color: #05BCD3; overflow:hidden}

  #header .inner { position: relative; width: 1024px; height: 100%; margin: 0 auto; }
  #header .inner.wide { width: 100%; }
  
  #header .tb_left { float: left; line-height: 60px; }
  #header .inner.wide .tb_left { margin-left: 10px; }

  #header .tb_right { float: right; line-height: 60px; }
  #header .inner.wide .tb_right { margin-right: 10px; }
