.DrawerMenu {
    background-color: rgb(0, 188, 212); 
    color: white;
    align-items: center;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.Appbar{
    height:70px;
}
